@tailwind base;
@tailwind components;
@tailwind utilities;


/* Aurora animation classes */
.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* Global dropdown styling for better visibility */
select option {
  background-color: #000000 !important;
  color: #ffffff !important;
}

select {
  color-scheme: dark;
}
